.vscode
*.o
libdarknet*

sample/3_mnist/data/list_c.txt
sample/3_mnist/data/images/
sample/3_mnist/data/t10k-images-idx3-ubyte
sample/3_mnist/data/t10k-labels-idx1-ubyte
sample/3_mnist/data/train-images-idx3-ubyte
sample/3_mnist/data/train-labels-idx1-ubyte

cmake-build-debug
.idea
